
:host {
    mat-expansion-panel-header {
        background: #e6e6e6;
        mat-panel-title {
            color: #000;
            opacity: 1;
        }
    }
    .data-form {
        padding-top: 20px;
    }
}
