<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="60" fxFlex.lt-md="100">
        <mat-expansion-panel [hideToggle]="true" [expanded]="true" [disabled]="true">
            <mat-expansion-panel-header >
                <mat-panel-title color="primary">
                    <strong>Set you favorite temperature and humidity</strong>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="data-form">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Temp" formControlName="temp"/>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Humidity" formControlName="humidity"/>
                    </mat-form-field>

                    <button mat-raised-button color="accent">Find</button>
                </form>
            </div>

        </mat-expansion-panel>


        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxFlex.lt-md="100">
                <app-cities-table></app-cities-table>
            </div>
        </div>

    </div>
</div>
